#test requirements
pytest
Pillow



# API requirements
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server


#image utils requirements
scikit-image
python-multipart